.how-it-works-section {
  background: $color-black-light;
  padding-top: 100px;
  padding-bottom: 120px;
  &__items {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 975px;
    margin: 0 auto;
  }
  &__item {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: calc(100% / 3);

    &:first-child,
    &:nth-child(2) {
      &::after {
        content: '';
        position: absolute;
        top: -80px;
        left: 58%;
        width: 80%;
        background: url('../images/icons/dotted-devider.png') no-repeat center
          center / 100% 40%;
        height: 100%;
      }
    }

    &:nth-child(2) {
      &::after {
        left: 60%;
      }
    }

    .item {
      &__icon {
      }
      &__text {
        font-family: $font-2;
        font-weight: 400;
        font-size: 36px;
        color: #e8e8e8;
        margin-top: 35px;
      }
    }
  }
}
