*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

[tabindex="-1"]:focus {
  outline: none !important;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
}

address {
  font-style: normal;
  line-height: inherit;
}

ol,
ul,
dl {
  margin-top: 0;
  padding: 0;
  margin: 0;
  list-style: none;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: 700;
}

dd {
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

dfn {
  font-style: italic;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

a {
  color: theme-color("primary");
  text-decoration: none !important;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):hover, a:not([href]):not([tabindex]):focus {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
  outline: 0;
}

pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

pre {
  margin-top: 0;
  overflow: auto;
  -ms-overflow-style: scrollbar;
}

figure {
  margin: 0 0 1rem;
}

img {
  vertical-align: middle;
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

a,
area,
button,
[role=button],
input:not([type=range]),
label,
select,
summary,
textarea {
  touch-action: manipulation;
  text-decoration: none;
  appearance: none !important;
  -webkit-appearance: none !important;
  box-shadow: none;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
a:focus, a:active,
area:focus,
area:active,
button:focus,
button:active,
[role=button]:focus,
[role=button]:active,
input:not([type=range]):focus,
input:not([type=range]):active,
label:focus,
label:active,
select:focus,
select:active,
summary:focus,
summary:active,
textarea:focus,
textarea:active {
  outline: none !important;
}

input {
  cursor: text !important;
}

table {
  border-collapse: collapse;
}

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #868e96;
  text-align: left;
  caption-side: bottom;
}

th {
  text-align: inherit;
}

label {
  display: inline-block;
}

button {
  border-radius: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  outline: none !important;
}
input:focus, input:active,
button:focus,
button:active,
select:focus,
select:active,
optgroup:focus,
optgroup:active,
textarea:focus,
textarea:active {
  outline: none !important;
}

button,
input {
  overflow: visible;
  padding: 0;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type=radio],
input[type=checkbox] {
  box-sizing: border-box;
  padding: 0;
}

input[type=date],
input[type=time],
input[type=datetime-local],
input[type=month] {
  -webkit-appearance: listbox;
}

textarea {
  overflow: auto;
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  outline-offset: -2px;
  -webkit-appearance: none;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

output {
  display: inline-block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none !important;
}

body {
  padding-top: 80px;
}

a {
  outline: none;
  text-decoration: none;
}
a:focus, a:hover, a:active {
  outline: none;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  outline: none;
  box-shadow: none;
  appearance: none;
  -webkit-appearance: none;
  border: none;
  background: none;
}

img {
  max-width: 100%;
}

.template-btn {
  line-height: 60px;
  display: inline-block;
  min-width: 225px;
  padding: 0 10px;
  background: #5474fd linear-gradient(45deg, #496bfe 40%, #5474fd 40%);
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-family: "Aleo", serif;
  font-weight: 400;
  letter-spacing: 0.075em;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}
.template-btn:after {
  transition: all 0.3s ease;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #3737cc linear-gradient(45deg, #1f3eae 40%, #3737cc 40%);
  z-index: -1;
  opacity: 0;
  color: #fff;
}
.template-btn:hover::after, .template-btn:focus::after {
  transition: all 0.3s ease;
  opacity: 1;
  color: #fff;
}
.template-btn:hover, .template-btn:focus {
  color: #fff;
}

.main-header {
  background: #5474fd;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
.main-header__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 80px;
}
.main-header__logo {
  z-index: 30;
}
.main-header__nav {
  display: block;
}
@media only screen and (max-width: 767px) {
  .main-header__nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: #5474fd;
    z-index: 20;
    transform: translateX(100%);
    transition: all 0.3s ease;
  }
}
.main-header__nav.open {
  transform: translateX(0);
}
.main-header__nav ul {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 767px) {
  .main-header__nav ul {
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
}
.main-header__nav ul li {
  margin-right: 42px;
  position: relative;
}
.main-header__nav ul li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
  background: #e8e8e8;
  transform: scale3d(0, 0, 1);
  transition: all 0.3s ease;
}
.main-header__nav ul li:hover::after {
  transform: scale3d(1, 1, 1);
}
@media only screen and (max-width: 800px) {
  .main-header__nav ul li {
    margin-right: 20px;
  }
}
@media only screen and (max-width: 767px) {
  .main-header__nav ul li {
    margin-right: 0;
    margin-bottom: 30px;
  }
}
.main-header__nav ul li:last-child {
  margin-right: 0;
}
@media only screen and (max-width: 767px) {
  .main-header__nav ul li:last-child {
    margin-bottom: 0;
  }
}
.main-header__nav ul li a {
  font-family: "Aleo", serif;
  font-weight: 400;
  font-size: 14px;
  color: #e8e8e8;
  text-transform: uppercase;
}
.main-header__mobile-btn {
  width: 42px;
  height: 22px;
  position: relative;
  cursor: pointer;
  top: 0;
  transition: all 0.3s ease;
  z-index: 30;
  display: none;
}
@media only screen and (max-width: 767px) {
  .main-header__mobile-btn {
    display: block;
  }
}
.main-header__mobile-btn.open span {
  background: transparent;
}
.main-header__mobile-btn.open span::after {
  transform: rotate(45deg);
  bottom: 0;
  transition-delay: 0s, 0.15s;
  background: #fff;
}
.main-header__mobile-btn.open span::before {
  transform: rotate(-45deg);
  top: 0;
  background: #fff;
  transition-delay: 0s, 0.15s;
}
.main-header__mobile-btn span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 2px;
  width: 100%;
  background: #fff;
  display: block;
  transition: all 0.3s ease;
  transition: background 0s 0.15s;
}
.main-header__mobile-btn span::before {
  content: "";
  position: absolute;
  top: -10px;
  height: 2px;
  width: 100%;
  background: #fff;
  transition: all 0.3s ease;
  transition-duration: 0.15s, 0.15s;
  transition-delay: 0.15s, 0s;
  transition-property: top, transform, background;
  left: 0;
}
.main-header__mobile-btn span::after {
  content: "";
  position: absolute;
  bottom: -10px;
  height: 2px;
  width: 100%;
  background: #fff;
  transition: all 0.3s ease;
  transition-duration: 0.15s, 0.15s;
  transition-delay: 0.15s, 0s;
  transition-property: bottom, transform, background;
  left: 0;
}

.main-search {
  width: 100%;
  max-width: 650px;
  margin: 0 auto;
  min-height: 60px;
  background: #e8e8e8;
  position: relative;
}
.main-search__button {
  font-family: "Aleo", serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.1em;
  color: #e8e8e8;
  text-transform: uppercase;
  position: absolute;
  right: 2px;
  top: 2px;
  height: calc(100% - 4px);
  background: #5474fd;
  width: 100%;
  max-width: 146px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
.main-search__button:hover, .main-search__button:focus {
  background-color: #3f59cc;
}
.main-search__button span {
  display: inline-block;
  margin-right: 14px;
  margin-top: 5px;
}
@media only screen and (max-width: 767px) {
  .main-search__button {
    max-width: 70px;
  }
  .main-search__button span {
    margin: 0;
    padding: 0;
    display: none;
  }
}
.main-search__input {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.2em;
  color: #999999;
  height: 60px;
  width: 100%;
  padding-right: 156px;
  padding-left: 10px;
  text-align: center;
}
@media only screen and (max-width: 767px) {
  .main-search__input {
    padding-right: 80px;
  }
  .main-search__input::-webkit-input-placeholder {
    font-size: 10px;
  }
  .main-search__input:-moz-placeholder {
    font-size: 10px;
  }
  .main-search__input::-moz-placeholder {
    font-size: 10px;
  }
  .main-search__input:-ms-input-placeholder {
    font-size: 10px;
  }
}

.footer {
  background-color: #232323;
  color: #e8e8e8;
}
.footer__content {
  padding: 120px 0 54px;
  text-align: center;
}
.footer__logo img {
  margin-bottom: 15px;
}
.footer__text {
  font-size: 16px;
  letter-spacing: 2px;
  line-height: 26px;
  color: #e8e8e8;
  font-family: "Josefin Sans", sans-serif;
}
.footer__socials {
  margin-top: 30px;
}
.footer__socials ul {
  display: flex;
  justify-content: center;
}
.footer__socials ul li {
  margin-right: 25px;
}
.footer__socials ul li:last-child {
  margin-right: 0;
}
.footer__socials ul li a {
  display: inline-block;
  color: #e8e8e8;
}
.footer__socials ul li a:hover, .footer__socials ul li a:focus {
  transition: all 0.3s ease;
  color: #5474fd;
  transform: scale(1.3);
}

.hero-section {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
}
.hero-section .container {
  justify-content: center;
  align-items: center;
  text-align: center;
  height: calc(100vh - 80px);
  flex-direction: column;
}
.hero-section__row {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero-section__title h1 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 48px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #e8e8e8;
}
@media only screen and (max-width: 767px) {
  .hero-section__title h1 {
    font-size: 36px;
  }
}
.hero-section__title h2 {
  font-size: 22px;
  line-height: 26px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  color: #e8e8e8;
  letter-spacing: 0.31em;
}
@media only screen and (max-width: 767px) {
  .hero-section__title h2 {
    font-size: 18px;
  }
}
.hero-section__search {
  margin-top: 52px;
}
@media only screen and (max-width: 767px) {
  .hero-section__search {
    margin-top: 30px;
  }
}
.hero-section__scroll-down {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.2em;
  font-size: 14px;
  color: #e8e8e8;
  position: relative;
  margin-top: 120px;
  cursor: pointer;
}
@media only screen and (max-width: 767px) {
  .hero-section__scroll-down {
    margin-top: 50px;
  }
}
.hero-section__scroll-down img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -15px;
}

.choose-us-section {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  padding: 120px 0;
}
@media only screen and (max-width: 992px) {
  .choose-us-section {
    padding: 50px 0;
  }
}
@media only screen and (max-width: 992px) {
  .choose-us-section__text {
    margin-top: 50px;
  }
}
.choose-us-section__text h2 {
  font-family: "Aleo", serif;
  font-weight: 400;
  font-size: 36px;
  color: #e8e8e8;
  margin-bottom: 60px;
}
@media only screen and (max-width: 992px) {
  .choose-us-section__text h2 {
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 767px) {
  .choose-us-section__text h2 {
    font-size: 30px;
    margin-bottom: 15px;
  }
}
.choose-us-section__text p {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.1em;
  color: #e8e8e8;
  margin-bottom: 15px;
}
.choose-us-section__text p:last-of-type {
  margin-bottom: 0;
}
.choose-us-section__text .template-btn {
  margin-top: 46px;
}
@media only screen and (max-width: 992px) {
  .choose-us-section__text .template-btn {
    margin-top: 30px;
  }
}
.choose-us-section__images {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
@media only screen and (max-width: 992px) {
  .choose-us-section__images {
    align-items: center;
  }
}
.choose-us-section__images img {
  width: 100%;
  max-width: 350px;
  margin: 2.5px 0;
}
.choose-us-section__images img:nth-child(1) {
  margin-right: 126px;
}
@media only screen and (max-width: 992px) {
  .choose-us-section__images img:nth-child(1) {
    margin-right: 0;
  }
}

.how-it-works-section {
  background: #333333;
  padding-top: 100px;
  padding-bottom: 120px;
}
@media only screen and (max-width: 767px) {
  .how-it-works-section {
    padding: 50px 0;
  }
}
.how-it-works-section__items {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 975px;
  margin: 0 auto;
}
@media only screen and (max-width: 767px) {
  .how-it-works-section__items {
    flex-direction: column;
  }
}
.how-it-works-section__item {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: calc(100% / 3);
}
@media only screen and (max-width: 767px) {
  .how-it-works-section__item {
    width: 100%;
    margin-bottom: 50px;
  }
  .how-it-works-section__item:last-child {
    margin-bottom: 0;
  }
}
.how-it-works-section__item:first-child::after, .how-it-works-section__item:nth-child(2)::after {
  content: "";
  position: absolute;
  top: -80px;
  left: 58%;
  width: 80%;
  background: url("../images/icons/dotted-devider.png") no-repeat center center/100% 40%;
  height: 100%;
}
@media only screen and (max-width: 767px) {
  .how-it-works-section__item:first-child::after, .how-it-works-section__item:nth-child(2)::after {
    display: none;
  }
}
.how-it-works-section__item:nth-child(2)::after {
  left: 60%;
}
.how-it-works-section__item .item__text {
  font-family: "Aleo", serif;
  font-weight: 400;
  font-size: 36px;
  color: #e8e8e8;
  margin-top: 35px;
}

.info-section {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  padding-top: 230px;
  padding-bottom: 100px;
}
@media only screen and (max-width: 992px) {
  .info-section {
    padding: 50px 0;
  }
}
.info-section__box {
  background: rgba(35, 35, 35, 0.9);
  padding: 50px 30px;
}
.info-section__box h3 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.075em;
  color: #e8e8e8;
}
.info-section__box h2 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #e8e8e8;
  text-transform: uppercase;
  margin: 25px 0;
}
.info-section__box p {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #e8e8e8;
}
.info-section__box .template-btn {
  margin-top: 46px;
}

.testimonial-section {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  padding-top: 120px;
  padding-bottom: 200px;
}
@media only screen and (max-width: 992px) {
  .testimonial-section {
    padding: 50px 0;
  }
}
.testimonial-section__title {
  font-size: 36px;
  line-height: 1.6em;
  color: #fff;
  font-weight: 400;
  font-family: "Aleo", serif;
  text-align: center;
}
@media only screen and (max-width: 767px) {
  .testimonial-section__title {
    font-size: 30px;
  }
}
.testimonial-section__box {
  margin-top: 90px;
  display: flex;
}
@media only screen and (max-width: 767px) {
  .testimonial-section__box {
    flex-direction: column;
  }
}
@media only screen and (max-width: 992px) {
  .testimonial-section__box {
    margin-top: 50px;
  }
}
@media only screen and (max-width: 767px) {
  .testimonial-section__box {
    margin-top: 30px;
  }
}
.testimonial-section__box .box__card {
  padding: 50px 54px 50px 61px;
  background-color: #333333;
}
@media only screen and (max-width: 992px) {
  .testimonial-section__box .box__card {
    width: 50%;
  }
}
@media only screen and (max-width: 767px) {
  .testimonial-section__box .box__card {
    width: 100%;
    padding: 30px;
  }
}
.testimonial-section__box .box__title {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #e8e8e8;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.testimonial-section__box .box__text {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #e8e8e8;
}
.testimonial-section__box .box__text .fas {
  color: #5474fd;
  transform: translateY(-100%);
}
.testimonial-section__box .box__image {
  max-width: 445px;
  width: 100%;
}
@media only screen and (max-width: 992px) {
  .testimonial-section__box .box__image {
    width: 50%;
  }
}
@media only screen and (max-width: 767px) {
  .testimonial-section__box .box__image {
    width: 100%;
    max-width: 100%;
  }
}
.testimonial-section__box .box__image img {
  height: 100%;
}
@media only screen and (max-width: 767px) {
  .testimonial-section__box .box__image img {
    height: auto;
    max-width: 100%;
    width: 100%;
  }
}