$font-1: 'Josefin Sans', sans-serif;
$font-2: 'Aleo', serif;

$color-blue-dark: #496bfe;
$color-blue: #5474fd;
$color-black-light: #333333;
$button-gradient: linear-gradient(45deg, $color-blue-dark 40%, $color-blue 40%);
